<div class="prose max-w-none lg:max-w-5xl w-full relative z-10">
    <input{{ attributes.addClass(['form-input block w-full h-20 pl-10 pr-20 text-base md:text-3xl border-[3px] border-duchess-tan-25 rounded-[3.75rem] bg-white focus:border-duchess-tan-25 focus:ring-duchess-tan-25']) }} />{{ children }}
</div>