<button{{ attributes.addClass('absolute top-5 end-0 z-10 pb-6 pr-10 text-sm font-medium') }}>
    {{ children }}
    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="41" viewBox="0 0 39 41" fill="none">
        <path d="M30.5294 16.7652C30.5294 24.3672 24.3667 30.5299 16.7647 30.5299C9.16267 30.5299 3 24.3672 3 16.7652C3 9.16316 9.16267 3.00049 16.7647 3.00049C24.3667 3.00049 30.5294 9.16316 30.5294 16.7652Z" stroke="#C2B59B" stroke-width="6"/>
        <path d="M25.334 27.4448L35.8895 38.0004" stroke="#C2B59B" stroke-width="6"/>
    </svg>
    <span class="sr-only">Search</span>
</button>